extends ../layout

block content
  h3= title
  form(action = "/user/create", method = "POST")
    table
      tr
         td 
            label(for = "user") User Name:
         td
            input(name = "user" placeholder="User Name")
      tr
         td 
            label(for = "firstName") firstName:
         td 
            input(name = "firstName" placeholder = "First Name")
      tr
         td
            label(for = "lastName") Last Name:
         td
            input(name = "lastName" placeholder = "Last Name")
      tr
         td
            label(for = "email") Email:
         td
            input(name = "email" placeholder = "Email")
      tr
        td(colspan=2)
            button(type = "submit") Create User